@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 7%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;

    --primary: 0 0% 7%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96.5%;
    --secondary-foreground: 0 0% 7%;

    --muted: 0 0% 96.5%;
    --muted-foreground: 0 0% 47%;

    --accent: 0 0% 96.5%;
    --accent-foreground: 0 0% 7%;

    --destructive: 0 75% 96%;
    --destructive-foreground: 0 55% 40%;

    --border: 0 0% 92%;
    --input: 0 0% 92%;
    --ring: 0 0% 15%;

    --radius: 6px;

    --info: #e1f3fe;
    --info-foreground: #1f6c9f;
    --success: #edf3ec;
    --success-foreground: #346538;
    --warning: #fbf3db;
    --warning-foreground: #956400;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 93%;

    --card: 0 0% 7%;
    --card-foreground: 0 0% 93%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 93%;

    --primary: 0 0% 93%;
    --primary-foreground: 0 0% 5%;

    --secondary: 0 0% 12%;
    --secondary-foreground: 0 0% 93%;

    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 63%;

    --accent: 0 0% 12%;
    --accent-foreground: 0 0% 93%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 0 0% 85%;

    --radius: 6px;

    --info: #172d3d;
    --info-foreground: #8ecdf8;
    --success: #1b2e1e;
    --success-foreground: #9fd4a4;
    --warning: #332b14;
    --warning-foreground: #f3d47d;
  }

  @media (prefers-color-scheme: dark) {
    :root:not(.light) {
      --background: 0 0% 5%;
      --foreground: 0 0% 93%;

      --card: 0 0% 7%;
      --card-foreground: 0 0% 93%;

      --popover: 0 0% 7%;
      --popover-foreground: 0 0% 93%;

      --primary: 0 0% 93%;
      --primary-foreground: 0 0% 5%;

      --secondary: 0 0% 12%;
      --secondary-foreground: 0 0% 93%;

      --muted: 0 0% 12%;
      --muted-foreground: 0 0% 63%;

      --accent: 0 0% 12%;
      --accent-foreground: 0 0% 93%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 16%;
      --input: 0 0% 16%;
      --ring: 0 0% 85%;

      --radius: 6px;

      --info: #172d3d;
      --info-foreground: #8ecdf8;
      --success: #1b2e1e;
      --success-foreground: #9fd4a4;
      --warning: #332b14;
      --warning-foreground: #f3d47d;
    }
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: -0.025em;
  }
  h1 {
    letter-spacing: -0.035em;
    line-height: 1.08;
  }
}
